*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter';
    background-color: #F9FAFB;
}
.container{
    width: 100%;
    max-width: 1058px;
    margin: 0 auto;
}

.burger{
    display: none;
}
.header__container{
    margin-bottom: 64px;
}
.hero-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1B152B;
    border-radius: 47px;
    margin-top: 10px;
    padding: 12px 20px;

}

.logo-hero a{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: white;
}

.nav-list{
    list-style: none;
    display: flex;

    align-items: center;
    gap: 16px;
}

.nav-list a{
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}
.nav-list a:hover{
    color: #7F56D9;
}
.buttons{
    padding: 8px 30px;
    text-decoration: none;
    background-color: #7F56D9;
    color: white;
    border-radius: 20px;
    transition: all 0.5s;
 }
 .buttons:hover{
    background-color: #553a8e;
 }

 /* main style */

 .main__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 }
 .main-title{
    font-size: 69px;
    color: #1B152B;
    line-height: -4px;
    margin-bottom: 16px;
 }
 .main-text{
    font-size: 16px;
    color: #7A7D9C;
    margin-bottom: 16px;
 }

.main-button{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 48px;
}
 .Sign{
    padding: 8px 30px;
    color: white;
    text-decoration: none;
    background-color: #1B152B;
    border-radius: 20px;
 }
 .main__img{
    margin-bottom: 48px;
 }
 .main__img img{
    width: 100%;
    height: 388px;
 }

 .Users{
    display: flex;
    align-items: center;
    gap: 120px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 15px;
    margin-bottom: 64px;
    padding: 16px 48px;
    box-shadow: 0px 0px 10px 3px rgba(128, 128, 128 0.8);
 }
 .card span{
    font-weight: 600;
    font-size: 48px;
    color: #7F56D9;
 }
 .card p{
    color: #7F56D9;
    font-size: 24px;
 }
.block{
    border-left: 1px solid rgba(128, 128, 128, 0.4);
    border-right: 1px solid rgba(128, 128, 128, 0.4);
    padding-left: 25px;
    padding-right: 25px;
}

@media screen and (max-width: 960px){
    .container{
        width: 100%;
        max-width: 692px;
        margin: 0 auto;  
    }
}

@media screen and (max-width: 660px){
    .container{
        width: 100%;
        max-width: 392px;
        margin: 0 auto;  
    }
    .nav{
        display: none;
    }
    .hero-nav .buttons{
        display: none;
    }
    .main-title{
        margin-top: 20px;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }
    .main-text{
        font-size: 12px;
        font-size: 400;
        text-align: center;
    }

    .up-us{
        padding: 5px 11px;
        font-size: 12px;
        font-weight: 400;
        transition: all 0.7s;
    }
    .up-us:hover{
        background-color: #372569;
        box-shadow: 0px 0px 10px #1B152B;
    }
    .Users{
        display: flex;
        flex-direction: column;
        gap: 30px;

    }
    .card span, p{
        font-size: 20px;
        font-weight: 400;
    }

    .block{
        border-left: none;
        border-right: none;
        padding-left: 0;
        padding-right: 0;
    }
    .block{
        width: 180px;
        border-top: 1px solid rgba(128, 128, 128, 0.4);
        border-bottom: 1px solid rgba(128, 128, 128, 0.4);
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .burger{
        display: block;
    }
}